# Turbo-SMTP (pro.eu.turbo-smtp.com)
# https://serversmtp.com - Consumer Key = username, Consumer Secret = password

SMTP_HOST=pro.eu.turbo-smtp.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Umami Analytics (cloud.umami.is)
UMAMI_WEBSITE_ID=
UMAMI_API_TOKEN=

# Resend
RESEND_API_KEY=re_DBkmewzk_FGx5GrMTkZehe5BDFzvRBajc
MAIL_FROM="Bitora <info@bitora.it>"
MAIL_TO=info@bitora.it
MAIL_CC=deniscazzulo@icloud.com
